<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        img {
            width: 100%;
        }

        .mars_hemisphere {
            border: solid 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h1>Mission to Mars</h1>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Latest Mars News</h3>
            </div>
            <div class="col-12">
                <h5>{{mars_news.latest_news.news_title}}</h5>
            </div>
            <div class="col-12">
                <p>{{mars_news.latest_news.news_p}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h3>Feature Mars Image</h3>
                <figure class="figure">
                    <img class="figure-img" src="{{mars_news.featured_image_url}}" alt="Feature Mars Image">
                </figure>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <h5>Mars Facts</h5>
                    </div>
                    <div class="col-12">
                        {{mars_news.mars_comparison | safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {%for entry in mars_news.mars_hemisphere_data %}
                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            <figure class="figure p-1 mars_hemisphere">
                                <img class="figure-img" src="{{entry.img_url}}" alt="{{entry.title}}">
                                <h5>{{entry.title}}</h5>
                            </figure>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
